.topBar {
  grid-area: topBar;
  background-color: #764035;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 24px;
}
.App {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3em 90%;
  grid-template-areas: "topBar";
}
