.topBar {
  grid-area: topBar;
  background-color: #764035;
  color: white;
  display: flex;
  align-items: center;
  padding: .5em;
  font-size: 24px;
}
.resources {
  grid-area: resources;
}
.customers {
  grid-area: customers;
}
.forges {
  grid-area: forges;
}
.card {
  padding: .5em;
  background-color:lightgray;
  height: 100%;
  width: 100%;
  box-sizing:border-box;
}
.gridContainer{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 30% auto;
  grid-template-rows: 30% auto;
  grid-template-areas:
  "resources customers"
  "resources forges";
}
.App {
  box-sizing:border-box;
  height: 100%;
  text-align: center;
  display:flex;
  flex-direction:column
  
}
